
# 文件忽略
# 使用步骤
#     1.创建配置文件.gitignore(一定要和.git文件夹同级)(win7不能直接创建.需要用vscode创建)
#     2.在配置文件中添加一些忽略配置

    
# 常用配置规则
#     1. /文件夹名/           忽略整个文件夹
#     2. *txt                忽略整个.txt文件
#     3./文件夹名/文件夹名     忽略某个具体文件

/html/02.html

# *.html
/css/
# /html/ 

